name: Build, test, release

on:
  push:
  pull_request:
    branches: [ main ]

defaults:
  run:
    working-directory: ext

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.0', '8.1', '8.2', '8.3', '8.4']

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Build
        run: |
          phpize
          ./configure
          make
      - name: Test
        env:
          TEST_PHP_ARGS: "-q" #do not try to submit failures
        run: make test TESTS=--show-diff

  macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.0', '8.1', '8.2', '8.3', '8.4' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: build
        run: |
          phpize
          ./configure
          make

      - name: test
        env:
          TEST_PHP_ARGS: "-q" #do not try to submit failures
        run: make test TESTS=--show-diff

  pecl-package:
    runs-on: ubuntu-latest
    container:
      image: php:8.3-cli
    steps:
      - uses: actions/checkout@v4

      - name: Package and copy
        run: |
          mkdir binaries
          pear package-validate
          pear package
          cp opentelemetry-*.tgz binaries/
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: opentelemetry-pecl
          path: ext/binaries/*.tgz
          if-no-files-found: error

  windows:
    runs-on: windows-2022
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        php: ['8.0', '8.1', '8.2', '8.3', '8.4']
        ts: ['ts', 'nts']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install PHP ${{ matrix.php }}-${{ matrix.ts }}
        id: setup-php-sdk
        uses: php/setup-php-sdk@v0.9
        with:
          version: ${{ matrix.php }}
          arch: x64
          ts: ${{ matrix.ts }}
      - name: Install dependencies
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
          toolset: ${{ steps.setup-php-sdk.outputs.toolset }}
      - name: Build
        run: |
          phpize
          ./configure --enable-opentelemetry --with-prefix=${{ steps.setup-php-sdk.outputs.prefix }}
          nmake
      - name: Test
        env:
          TEST_PHP_ARGS: "-q"
        run: nmake test TESTS=--show-diff
      - name: Get Compiler Version + Build Name
        shell: bash
        run: |
          case "$VisualStudioVersion" in
            16.*) COMPILER="vs16";;
            17.*) COMPILER="vs17";;
            *) echo "Unknown MSVC version: $VisualStudioVersion"; exit 1;;
          esac
          echo "Detected Compiler: $COMPILER"
          BUILD_NAME="php_opentelemetry-${{github.ref_name}}-${{matrix.php}}-${{matrix.ts}}-$COMPILER-x64"
          echo "Build Name: $BUILD_NAME"
          echo "BUILD_NAME=$BUILD_NAME" >> $GITHUB_ENV

      - name: Rename and copy binaries
        run: |
          md binaries\${{env.BUILD_NAME}}
          $file = Get-ChildItem -Path x64 -Recurse -Filter php_opentelemetry.dll
          Copy-Item -Path $file.FullName -Destination "binaries\${{env.BUILD_NAME}}\${{env.BUILD_NAME}}.dll"
      - name: Find
        run: |
          Get-ChildItem -Path binaries -Recurse -Force | ForEach-Object { $_.FullName }
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.BUILD_NAME}}
          path: ext\binaries\${{env.BUILD_NAME}}\${{env.BUILD_NAME}}.dll
          if-no-files-found: error

  release-if-tag:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: [linux, pecl-package, windows]
    continue-on-error: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: download-artifacts
        uses: actions/download-artifact@v4
        with:
          path: ext/artifacts
      - name: zip
        run: |
          cd artifacts
          find . -maxdepth 1 -type d -exec zip -jr {}.zip {} \;
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          draft: true
          files: "ext/artifacts/*.zip"
