name: Build and test

on:
  push:
  pull_request:
    branches: [ main ]

defaults:
  run:
    working-directory: ext

jobs:
  php:
    runs-on: ubuntu-latest
    name: "Build and test"
    strategy:
      fail-fast: false
      matrix:
        php: ['8.0', '8.1', '8.2']
        os: ['debian', 'alpine']
    container:
      image: ghcr.io/open-telemetry/opentelemetry-php-instrumentation/php:${{ matrix.php }}-${{ matrix.os }}-debug

    steps:
      -   uses: actions/checkout@v2

      -   name: Build
          run: |
            phpize
            ./configure
            make

      -   name: Test
          env:
            TEST_PHP_ARGS: "-q" #do not try to submit failures
          run: make test
