name: Build and test against PHP nightly

on:
  push:
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '37 5 * * *'

permissions:
  contents: read

defaults:
  run:
    working-directory: ext

jobs:
  nightly:
    if: github.repository == 'open-telemetry/opentelemetry-php-instrumentation'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2
        with:
          php-version: 8.5
      - name: Build
        run: |
          phpize
          ./configure
          make
      - name: Test
        env:
          TEST_PHP_ARGS: "-q"
        run:  make test TESTS=--show-diff
