name: build-debug-image
on:
  push:
    paths:
    - '.github/workflows/publish-php-debug-images.yml'
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:
permissions:
  contents: read
jobs:
  push_to_registry:
    if: github.repository_owner == 'open-telemetry' #do not run in forks
    name: Build image
    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.1', '8.2', '8.3']
        os: ['debian', 'alpine']
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:

      - name: check out the repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Fetch latest PHP version
        run: |
          PHP_VERSION=$(curl https://www.php.net/releases/index.php?json\&version=${{ matrix.php-version }}\&max=1 | jq -r 'keys[0]')
          echo "PHP_VERSION=${PHP_VERSION}" >> $GITHUB_ENV
          echo "Latest version in ${{ matrix.php-version }} is ${PHP_VERSION}"

      - name: Build and push ${{ env.PHP_VERSION }} as ${{ matrix.php-version }}-${{ matrix.os }} to ghcr.io
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: true
          file: docker/Dockerfile.${{ matrix.os }}
          build-args: |
            PHP_VERSION=${{ env.PHP_VERSION }}
          tags: ghcr.io/open-telemetry/opentelemetry-php-instrumentation/php:${{ matrix.php-version }}-${{ matrix.os }}-debug
