name: gitsplit
on:
  push:
    branches:
      - main
      - split
  release:
    types: [published]
  create:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  gitsplit:
    runs-on: ubuntu-latest
    permissions:
      contents: write # required for pushing changes
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Split repositories
        uses: docker://jderusse/gitsplit:latest@sha256:ca619e08d0608d7ab8067be02db13409ec63a0e241c6308be42593f0c0ac705d
        with:
          args: gitsplit
        env:
          GH_TOKEN: ${{ secrets.GITSPLIT_TOKEN }}